/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "dana-Black";
  src: url("../../fonts/dana black.ttf");
}
@font-face {
  font-family: "dana-Bold";
  src: url("../../fonts/dana bold.ttf");
}
@font-face {
  font-family: "dana-Medium";
  src: url("../../fonts/dana medium.ttf");
}
@font-face {
  font-family: "dana-Regular";
  src: url("../../fonts/dana regular.ttf");
}
html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background-color: #F3DCEC;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 300px) {
  header {
    width: 100%;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem 2.4rem;
    position: relative;
  }
  header .logo {
    width: 50px;
    height: 50px;
  }
  header #menu {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(6%) hue-rotate(334deg) brightness(101%) contrast(103%);
  }
  header nav {
    display: none;
  }
  header #cart {
    width: 23px;
    height: 20px;
  }
  header .navActive {
    width: 32.7rem;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #9d6d95;
    padding: 8rem 0;
    border-radius: 1.5rem;
  }
  header .navActive ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  header .navActive a {
    color: #fff;
    font-family: "dana-Bold";
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
  }
  header #cart-container {
    gap: 1rem;
    position: relative;
  }
  header #cart-container h3 {
    color: #FF0000;
    font-family: "dana-Bold";
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: -2rem;
    right: -1rem;
  }
  header #cart-popup {
    width: 32.7rem;
    display: block;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #F3DCEC;
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;
    border: 2px solid black;
  }
  header #cart-popup .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header #cart-popup .popup-header h4 {
    color: #0e0909;
    font-family: "dana-Medium";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
  }
  header #cart-popup .popup-header button {
    background-color: transparent;
    border: none;
    color: #000;
    font-family: "dana-Medium";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
  }
  header #cart-popup #cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  header #cart-popup #cart-item .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header #cart-popup #cart-item .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  header #cart-popup #cart-item .card-info img {
    width: 70px;
    height: 80px;
  }
  header #cart-popup #cart-item .card-info .item-info {
    display: flex;
    justify-content: normal;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
  header #cart-popup #cart-item .card-info .item-info h5 {
    width: 7rem;
    color: #0e0909;
    font-family: "dana-Regular";
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }
  header #cart-popup #cart-item .card-info .item-info span {
    color: #0e0909;
    font-family: "dana-Regular";
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
  }
  header #cart-popup #cart-item .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  header #cart-popup #cart-item .quantity span {
    color: #0e0909;
    font-family: "dana-Regular";
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
  }
  header #cart-popup #cart-item .quantity button {
    color: #000;
    font-family: "dana-Regular";
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    background-color: #9644e3;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.8rem;
  }
  header #cart-popup .checkout-container {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 3rem;
  }
  header #cart-popup .checkout-container .total-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header #cart-popup .checkout-container .total-container span {
    color: #0e0909;
    font-family: "dana-Bold";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
  }
  header #cart-popup .checkout-container button {
    color: #0e0909;
    font-family: "dana-Medium";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    background-color: #d87d4a;
    border: none;
    padding: 1rem 5.2rem;
  }
}
@media only screen and (min-width: 300px) and (min-width: 768px) {
  header {
    padding: 5rem 10rem;
  }
  header .logo {
    width: 75px;
    height: 75px;
  }
  header #menu {
    display: none;
  }
  header nav {
    display: block;
  }
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }
  header ul a {
    color: #fff;
    font-family: "dana-Medium";
    font-size: 2.5rem;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
  }
}
@media only screen and (min-width: 300px) and (min-width: 1440px) {
  header {
    padding: 6rem 15rem;
  }
  header .logo {
    width: 100px;
    height: 100px;
  }
  header nav {
    display: block;
  }
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  header ul a {
    color: #fff;
    font-family: "dana-Bold";
    font-size: 4rem;
    font-weight: 600;
    line-height: normal;
  }
}
@media only screen and (min-width: 300px) {
  main {
    padding: 16rem 0;
  }
  main .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  main .card {
    width: 350px;
    border: 2px solid #341818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
  }
  main .card .img {
    width: 327px;
  }
  main .card .title {
    color: #0e0909;
    font-family: "dana-Bold";
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
    text-align: center;
  }
  main .card .description {
    color: #0e0909;
    font-family: "dana-Medium";
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
  }
  main .card .rating {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  main .card .rating img {
    width: 2rem;
    padding: 0 0 0.8rem;
    margin-left: 1rem;
  }
  main .card .price,
  main .card .category,
  main .card .rate,
  main .card .count {
    color: #0e0909;
    font-family: "dana-Regular";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
  }
  main .card .category {
    align-self: start;
    padding-left: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  main .card-section {
    display: grid;
    align-items: normal;
    grid-template-columns: 350px 300px;
    gap: 10px;
  }
  main .img {
    width: 300px;
  }
}/*# sourceMappingURL=global.css.map */