html {
    font-size: $base-font-size;
    font-family: "Noto Sans Georgian", sans-serif;
}

body{
    overflow-x: hidden;
    background-color: $main-bg-color;
    @include flex( normal, center);
    flex-direction:column;
}