
@include responsive($phone){
    header{    
        width: 100%;
        background-color: $header-bg-color;
        @include flex($justify:space-between, $align: center);
        padding: 3rem 2.4rem;
        position: relative;
    
        .logo{
            width: 50px;
            height: 50px;
        }
    
        #menu{
            width: 40px;
            height: 40px;
        }

        nav{
            display: none;
        }

        .navActive{
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            background-color:$nav-bg-color;
            padding: 8rem 7rem;
            border-radius: 1.5rem;

            ul{
                @include flex($justify:center, $align:center, $direct:column);
                gap:40px;
            }

            a{
                @include text_font_style($text-color, $dana-Medium-ff, $link-fs,$medium-w5);
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }
}


@include responsive($tablet){
    header{    
        padding: 5rem 10rem;
        
        .logo{
            width: 75px;
            height: 75px;
        }

        #menu{
            display: none;
        }
     
        nav{
            display: block;  
        } 

        ul{
            @include flex($justify:space-between, $align:center);
            gap: 25px;

            a{
                @include text_font_style($text-color, $dana-Medium-ff, 2.5rem ,$medium-w5);
                white-space: nowrap;
                cursor: pointer;
            }
        }
    
    }
}



@include responsive($pc){
    header{    
        padding: 6rem 15rem;
        
        .logo{
            width: 100px;
            height: 100px;
        }

        nav{
            display: block;  
        } 

        ul{
            @include flex($justify:space-between, $align:center);
            gap: 40px;

            a{
                @include text_font_style($text-color, $dana-Medium-ff, 4rem ,$medium-w5);
            }
        }
    
    }
}
