

@include responsive($phone){
    main{
        padding: 10rem 0;

        .card-section{
            @include flex(center, center);
            flex-direction: column;
            gap:3rem;
            
            .card{
                width: 280px;
                border: 2px solid #341818;
    
                @include flex(flex-end, center);
                flex-direction:column;
                gap: 1rem;
                padding: 1rem 1.5rem;
                
                .imgContainer{
                    width: 250px;
                    height: 100%;
                    @include flex(center, center);
                    flex-direction: column;
                    gap: 1rem;
                    .img{
                        width: 250px;
                    }

                    .title{
                        @include text_font_style($title-text, $fontFamily, 2.5rem ,$Black-w8);
                        text-align: center;
                    }
                }
    
    
                .description{
                    @include text_font_style($title-text, $fontFamily, 2rem ,$medium-w5)
                }
    
                .rating{
                    width: 100%;
                    
                    @include flex( start, center);
    
                        img{
                            width: 2rem;
                            margin-left: 1rem;
                        }
                }
    
                .price, 
                .category, 
                .rate, 
                .count{
                    @include text_font_style($title-text, $fontFamily, 1.8rem ,$regular-w4)
                }

                .price,
                .category{
                    align-self: start;
                }

                .buttons{
                    width: 100%;
                    @include flex( space-between ,center);

                    .addBtn{
                        padding: 0.5rem 2.5rem;
                        border-radius: 0.4rem;
                        background-color: $bg-btn-check;
                        border: none;
                        @include text_font_style($text-color, $fontFamily, $cart-fs, $regular-w4);
                        align-self: center;
                        cursor: pointer;
                    }

                    .seeBtn{
                        padding: 0.5rem 2.5rem;
                        background-color: $bg-button;
                        border-radius: 0.4rem;
                        border: none;
                        @include text_font_style($text-color, $fontFamily, $cart-fs, $regular-w4);
                        align-self: center;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}


@include responsive($tablet){
    main{
        padding: 10rem 0;

        .card-section{
            display: grid;
            align-items: normal;
            grid-template-columns: 32rem  32rem ;
            gap: 1rem;
            
            .card{
                width: 320px;
    
                .imgContainer{
                    width: 300px;
                    .img{
                        width: 250px;
                    }

                }

            }
        }

    }

}


@include responsive($pc){
    main{
        padding: 10rem 0;

        .card-section{
            display: grid;
            align-items: normal;
            grid-template-columns: repeat(4, 28rem) ;
            gap: 2rem;
            
            .card{
                width: 280px;
    
                .imgContainer{
                    width: 280px;
                    .img{
                        width: 250px;
                    }

                }

            }
        }

    }

}