@font-face {
    font-family: "dana-Black";
    src: url("../../fonts/dana\ black.ttf");
  }
  
  @font-face {
    font-family: "dana-Bold";
    src: url("../../fonts/dana\ bold.ttf");
  }
  
  @font-face {
    font-family: "dana-Medium";
    src: url("../../fonts/dana\ medium.ttf");
  }
  
  @font-face {
    font-family: "dana-Regular";
    src: url("../../fonts/dana\ regular.ttf");
  }