
$fontFamily: "Noto Sans Georgian", sans-serif;


// Font Sizes

$base-font-size: 10px;

$heading-fs: 3.5rem;
$sm-heading-fs: 3rem;
$title-fs: 2.7rem;
$paragraph-fs: 2.4rem;
$link-fs: 2rem;
$popup-title: 1.8rem;
$cart-fs:1rem;

// Font Weights

$Black-w8: 800;
$Bold-w6: 600;
$medium-w5: 500;
$regular-w4: 400;

// Colors

$main-bg-color: #FFFFFF;
$header-bg-color: #101010;
$nav-bg-color: #9d6d95;
$checkout-bgc: #fafafa;
$text-color: #fff;
$title-text: #0e0909;
$cart-text-item: #FF0000;
$button-text:#000;
$bg-button: #9644e3;
$bg-btn-check:#d87d4a;
$footer-text: rgba(255, 255, 255, 0.5);
