
// Font Family

$dana-Black-ff: "dana-Black";
$dana-Bold-ff: "dana-Bold";
$dana-Medium-ff: "dana-Medium";
$dana-Regular-ff: "dana-Regular";

// Font Sizes

$base-font-size: 10px;

$heading-fs: 3.5rem;
$sm-heading-fs: 3rem;
$title-fs: 2.7rem;
$paragraph-fs: 2.4rem;
$link-fs: 2rem;
$popup-title: 1.8rem;

// Font Weights

$Black-w8: 800;
$Bold-w6: 600;
$medium-w5: 500;
$regular-w4: 400;

// Colors

$main-bg-color: #F3DCEC;
$header-bg-color: #101010;
$nav-bg-color: #9d6d95;
$text-color: #fff;
$title-text: #0e0909;
$cart-text-item: #FF0000;
$button-text:#000
