
// Font Family

$dana-Black-ff: "dana-Black";
$dana-Bold-ff: "dana-Bold";
$dana-Medium-ff: "dana-Medium";
$dana-Regular-ff: "dana-Regular";

// Font Sizes

$base-font-size: 10px;

$heading-fs: 3.5rem;
$sm-heading-fs: 3rem;
$title-fs: 2.7rem;
$paragraph-fs: 2.4rem;
$link-fs: 2rem;

// Font Weights

$Black-w8: 800;
$Bold-w6: 600;
$medium-w5: 500;
$regular-w4: 400;

// Colors

$main-bg-color: #fffdfd;
$header-bg-color: #F3DCEC;
$nav-bg-color: #808B96;
$text-color: #3a3134;

